@font-face {
    font-family: 'DarkForest';
    src: url('./dark_forest/darkforest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.futurefilms {
    font-family: 'DarkForest', sans-serif; /* Zet het standaard lettertype */
    display: flex;
    flex-direction: column; /* Elementen verticaal stapelen */
    align-items: center; /* Centreren over de horizontale as */
    justify-content: center; /* Centreren over de verticale as */
    height: 100%;
    background-image: url('./achtergrond_FutureFilms_selectionpage.png'); /* Achtergrond instellen */
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;

}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Houdt het laadscherm boven alle andere inhoud */
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

header, footer {
    width: 100vw; /* Volledige breedte van de viewport */
    color: white; /* Witte tekst */
    text-align: center; /* Tekst centreren */
    background-color: #152036; /* Donkerblauwe achtergrond */
    padding: 1vh 0; /* Padding relatief aan de hoogte van de viewport */
}

header {
    position: fixed;
    height:5vw;
    top: 0; /* Aan de bovenkant van de viewport */
    left: 0;
}

footer {
    position: fixed;
    bottom: 0; /* Aan de onderkant van de viewport */
    left: 0;
    display: flex; /* Zet de footer om naar een flex container */
    justify-content: center; /* Centreert de inhoud horizontaal */
    align-items: center; /* Centreert de inhoud verticaal */
    width: 100vw;
    height: 4vw;
    text-align: center;
    background-color: #152036;
    padding: 3vh 0;
}
    


.icon img {
    width: 100%; /* Zorgt ervoor dat de afbeelding zich aanpast aan de container */
    height: auto; /* Behoudt de aspect ratio van de afbeelding */
    max-width: 40px; /* Maximale breedte */
    min-width: 20px; /* Minimale breedte */
    margin: 0 18px; /* Horizontale marge tussen iconen */
}




h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    top: 1vh; /* Plaats h1 nabij de top van de viewport */
    font-size: 3vw; /* Dynamische tekstgrootte op basis van viewport-breedte */
}



.center-container {
    position: absolute;
    top: 50%; /* Centreren ten opzichte van de totale hoogte van de viewport */
    left: 50%;
    transform: translate(-50%, -50%); /* Centreren zowel horizontaal als verticaal */
    width: 33vw; /* Aanpasbare breedte gebaseerd op design voorkeur */
    min-height: 40vh; 
    text-align: center; /* Verzekert dat alle tekst gecentreerd is */
    display: flex;
    flex-direction: column; /* Stapelt de items verticaal */
    align-items: center; /* Zorgt dat alle items in het midden gecentreerd zijn */
}



h2 {
    font-size: 1.5vw;
    color: #152036;
    font-weight: bold;
}

h2 .subtitle {
    display: block;
    font-size: 1.2vw; /* Kleiner dan de hoofdtekst */
    color: #465267;
}

#themesForm {
    padding: 10px;
    margin-top: 2vh; /* Ruimte tussen h3 en de form */
    border: 2px solid #152036; /* Stevige, zichtbare grens */
    border-radius: 5px;
    width: 90%;
    position: relative;
}

#themesForm::before, #themesForm::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

#themesForm::before {
    left: 0;
    width: 50%;
    background-color: #1520362e; /* Licht doorschijnend donkerblauw */
}

#themesForm::after {
    left: 50%;
    width: 50%;
}



.theme-row {
    display: flex;
    align-items: center;
    width: 100%; /* Zorgt dat de rij de volledige breedte van de form gebruikt */
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    color:   #2B305F;
    font-size: clamp(5px, 1.2vw, 30px); /* Boven */
    background: linear-gradient(to right,#465267 50%, rgba(240, 240, 240, 0.4) 50%);
}


.theme-row label:first-child{
   color:#F7FFF6;
   
}

.theme-row label:first-of-type {
    flex-grow: 1; /* Laat het label de beschikbare ruimte opvullen */
    text-align: left; /* Verzekert dat de labeltekst links uitgelijnd is */
    font-size: clamp(8px, 1.2vw, 30px); /* Boven */
}

input[type="checkbox"] {
    -webkit-appearance: none;  /* Chrome, Safari, Opera */
    -moz-appearance: none;     /* Firefox */
    appearance: none;          /* Standaard specificatie */
    font-family: 'DarkForest', sans-serif; 
    width: clamp(15px, 1.1vw, 30px); /* Minschaal 15px, meeschaalt met 2% van de viewport width, maxschaal 30px */
    height: clamp(15px, 1.1vw, 30px); /* Dezelfde instellingen voor de hoogte */
    background-color:  #304878c7;
    border: 3px solid ;
    border-color:  white;
    border-radius: 2px;
    cursor: pointer; /* Hand cursor op hover */
}

.theme-row label {
    margin-right: clamp(15px, 1.1vw, 30px); /* Ruimte tussen checkboxes */
    white-space: nowrap; /* Voorkomt afbreken van tekst */
    position: relative;
    display: inline-block; /* Zorgt ervoor dat de label zich gedraagt als een inline element met block eigenschappen */
    font-size: clamp(20px, 1.2vw, 30px); /* Boven */
}


.theme-row .enabled-checkbox:hover {
    background-color: #465267; /* Iets lichter dan voorheen om subtiele feedback te geven */
    cursor: pointer; /* Verduidelijkt dat het een interactief element is */
    border-color: #304878; /* Een iets levendigere kleur voor de border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Voegt een subtiele schaduw toe voor diepte */
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* Zorgt voor een soepele overgang van stijlen */
}


.theme-row .enabled-checkbox:active {
    transform: scale(1.4); /* Maakt de checkbox iets kleiner tijdens het klikken */
    background-color: #b0c4de; /* Nog donkerder tint voor directe feedback */
}

.theme-row .enabled-checkbox:checked {
    background-color: white; /* Donkerdere tint voor feedback */
    transform: scale(1); /* Behoud standaard grootte */
    border-color: #304878; /* Optioneel: pas de borderkleur aan voor betere zichtbaarheid */
}


.theme-row .enabled-checkbox:checked::after {
    content: "\1F4A7"; /* Unicode voor blad */
    color:#152036; /* Passende kleur */
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    font-size: 0.8vw;
}


input[type="checkbox"]:disabled {
    opacity: 0.6; /* Maakt de checkbox half doorzichtig */
    background-color: #ccc; /* Een lichtere achtergrondkleur om 'uitgeschakeld' aan te duiden */
    cursor: default;
}

input[type="checkbox"]:disabled + label {
    cursor: default; /* Gebruikt de standaard cursor */
}

.disabled-checkbox + label:after {
    content: " \2716";
    color: #152036;
    margin-left: 1px;
    font-size: smaller;
}


button#StartQuizknop {
    font-family: 'DarkForest', sans-serif;
    font-size: 1.8vw;
    padding: 10px 20px; /* Normale padding */
    background-color: transparent; /* Geen achtergrondkleur bij standaard */
    color: #152036c0; /* Lichtere tekstkleur, die bij hover wit wordt */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 86%; /* Verticale centrering */
    left: 50%; /* Horizontale centrering */
    transform: translate(-50%, -50%); /* Zorgt voor nauwkeurige centrering */
    transition: background-size 0.5s ease-out, padding 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-size: 0% 100%; /* Begint zonder zichtbare achtergrond */
}

button#StartQuizknop:not(.customButton):hover {
    color: white;
    background-image: linear-gradient(to right, #152036c0 0%, #304878 100%);
    background-size: 100% 100%;
    padding: 13px 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}


button#Downloadknop {
    font-family: 'DarkForest', sans-serif;
    font-size: 1.5vw;
    padding: 10px 20px; /* Normale padding */
    background-color: transparent; /* Geen achtergrondkleur bij standaard */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    color: #152036; /* Lichtere tekstkleur, die bij hover wit wordt */
    border: 0.1vw solid white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    position: absolute;
    top: 75%; /* Verticale centrering */
    left: 19.5%; /* Horizontale centrering */
    transform: translate(-50%, -50%); /* Zorgt voor nauwkeurige centrering */
    transition: background-size 0.5s ease-out, padding 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-size: 0% 100%; /* Begint zonder zichtbare achtergrond */
    
}

button#Downloadknop:not(.customButton):hover {
    color: white;
    background-image: linear-gradient(to right, #152036c0 0%, #304878 100%);
    background-size: 120% 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border: none;
}


.warning-message {
    position: absolute;
    bottom: 16vh; /* Plaats de melding 20px boven de onderkant van de viewport */
    left: 50%; /* Centreert horizontaal */
    transform: translateX(-50%); /* Nauwkeurige horizontale centrering */
    width: 33%; /* Aanpasbaar op basis van designvereisten */
    font-size: 1.2vw;
    padding: 10px;
    background-color: #304878;
    color: white;
    text-align: center;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1001; /* Zorg ervoor dat de melding boven andere elementen wordt weergegeven */
}

.hover-message {
    position: fixed;
    background-color: #304878;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #152036;
    display: none;
    z-index: 2000; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


body.videoPlayer {
    font-family: 'DarkForest', sans-serif; /* Zet het standaard lettertype */
    display: flex;
    flex-direction: column; /* Elementen verticaal stapelen */
    align-items: center; /* Centreren over de horizontale as */
    justify-content: center; /* Centreren over de verticale as */
    height: 100%;
    background-image: url('./achtergrond_videoplayer_1.png'); /* Achtergrond instellen */
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}

#videoPlayerContainer {
    position: fixed; /* Zorgt dat de positie altijd vast is in de viewport */
    top: 45%; /* Start aan de helft van de viewport hoogte */
    left: 60%; /* Start aan de helft van de viewport breedte */
    transform: translate(-50%, -50%); /* Schuift de container terug met de helft van zijn eigen grootte */
    width: 80vw; /* Neemt 80% van de viewport breedte in */
    min-height: 100vh; /* Minimale hoogte is 100% van de viewport hoogte */
    text-align: center; /* Centreert tekst binnen de container */
    display: flex;
    flex-direction: column; /* Items worden verticaal gestapeld */
    align-items: center; /* Centreert items horizontaal binnen de container */
    overflow: hidden; /* Voorkomt scrollbars als de inhoud groter is dan de container */
}

video {
    width: 100%; /* Neemt de volledige breedte van de container in */
    max-width: 1080px; /* Maximale breedte is 1080px */
    position: absolute; /* Absoluut gepositioneerd binnen de container */
    top: 50%; /* Start op 50% van de top van de container */
    left: 50%; /* Start op 50% van de linkerzijde van de container */
    transform: translate(-50%, -50%); /* Centreert de video exact in het midden van de container */
    height: auto; /* Behoudt de aspect ratio van de video */
}

.buttonContainer {
    position: absolute;
    bottom: 0.9vh;
    left: 4.5vw; /* Voorkomt dat de knoppen te dicht bij de rand staan */
    display: flex;
    flex-direction: row; /* Zorgt ervoor dat de knoppen horizontaal worden uitgelijnd */
    gap: 20px; /* Ruimte tussen de knoppen */
    box-sizing: border-box;
    margin: auto;
}


#Terugknop, #shuffleknop {
    padding: 8px 15px;
    font-family: 'DarkForest', sans-serif;
    background-color: #15203661; /* Huidige achtergrondkleur met transparantie */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: static;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, background-position 0.3s ease; /* Voeg background-position toe aan de transition */
    background-size: 200% 100%; /* Verdubbel de achtergrond breedte */
    background-position: right bottom; /* Begin met de achtergrond gecentreerd naar rechts */
    font-size: 1.3vw;
}

#Terugknop:hover, #shuffleknop:hover {
    background-color:#1A202C; /* Doelkleur bij hover */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-position: left bottom; /* Verschuif de achtergrond naar links om de "uitvouw" illusie te creëren */
}
.customContainer {
    position: absolute;
    font-family: 'DarkForest', sans-serif;
    top: 45vh;
    left: 10vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontaal centreren */
    justify-content: center; /* Verticaal centreren */
    background-color: rgba(24, 36, 60, 0.911); /* Semi-transparante achtergrond met 50% transparantie */
    padding: clamp(0px, 0.05vh, 1px) 0px; /* Verticale padding die schaalt met de viewport hoogte */
    border-radius: 5px;
    box-shadow:  0 clamp(2px, 1vw, 4px) clamp(4px, 2vw, 8px) rgba(0, 0, 0, 0.2); /* Responsieve box-shadow */ /*0 4px 8px rgba(0, 0, 0, 0.2);*/
    width: 15vw; /* Breedte van de container */
    box-sizing: border-box;
    border: clamp(2px, 0.25vw, 6px) solid #fff; /* Maakt de rand dikker en wit */
}

.ButtomBar {
    display: flex;
    font-family: 'DarkForest', sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%; /* Verzekert volledige breedte */
    background-color: none;
    padding:   
        clamp(10px, 1vw, 60px) /* Boven */
        clamp(15px, 2vw, 60px) /* Rechts */
        clamp(5px, 1vw, 60px)  /* Onder */
        clamp(15px, 2vw, 60px); /* Links */

    font-size: 1.2vw;
    box-sizing:border-box; /* Inclusief padding en border in de breedteberekening */
    position: relative; /* Positionering relatief voor ::before gebruik */
}

.titleBar {
    display: flex;
    font-family: 'DarkForest', sans-serif;
    align-items: center;
    justify-content: center;
    width: 100%; /* Verzekert volledige breedte */
    background-color: #e4f0ffa0; /* Semi-transparante donkergrijze/zwarte kleur */
    color: #18243C;
    padding: clamp(10px, 1vh, 30px);
    font-size: 1.4vw;
    box-sizing:border-box; /* Inclusief padding en border in de breedteberekening */
    position: relative; /* Positionering relatief voor ::before gebruik */
}


.customButton:first-child {
    margin-top: 0;
}

.customButton:last-child {
    margin-bottom: 0;
}

.customButton {
    padding: 10px 10px;
    font-family: 'DarkForest', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #18243C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, background-image 0.5s ease; /* Geen transition op size of position */
    background-image: linear-gradient(to right, #ffffff 0%, #f0f0f0 100%);
    background-size: 100% 100%; /* Begint zonder zichtbare achtergrond */
    margin-top: clamp(10px, 1.1vw, 30px); /* Minimaal 10px, schaalt met de viewport tot maximaal 20px */
    margin-bottom: clamp(10px, 1.1vw, 30px); /* Minimaal 10px, schaalt met de viewport tot maximaal 20px */
    position: relative;
    background-position: center; /* Zorgt ervoor dat de gradiënt vanuit het midden start */
    font-size: 1.2vw;
}

.customButton:hover {
    background-image: radial-gradient(circle at center, #ffffff 0%, #8aa8d8 50%, #152036c0 100%);
    color: #18243C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-size: 200% 200%; /* Past de grootte aan zodat de blauwe kleur uiteindelijk de gehele knop bedekt */
}


