@font-face {
    font-family: 'DarkForest';
    src: url('./dark_forest/darkforest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.futurefilms {
    font-family: 'DarkForest', sans-serif; /* Zet het standaard lettertype */
    display: flex;
    flex-direction: column; /* Elementen verticaal stapelen */
    align-items: center; /* Centreren over de horizontale as */
    justify-content: center; /* Centreren over de verticale as */
    height: 100%;
    background-image: url('./achtergrond_FutureFilms_selectionpage.png'); /* Achtergrond instellen */
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;

}

header, footer {
    width: 100vw; /* Volledige breedte van de viewport */
    color: white; /* Witte tekst */
    text-align: center; /* Tekst centreren */
    background-color: #152036; /* Donkerblauwe achtergrond */
    padding: 1vh 0; /* Padding relatief aan de hoogte van de viewport */
}

header {
    position: fixed;
    height:5vw;
    top: 0; /* Aan de bovenkant van de viewport */
    left: 0;
}

footer {
    position: fixed;
    bottom: 0; /* Aan de onderkant van de viewport */
    left: 0;
    display: flex; /* Zet de footer om naar een flex container */
    justify-content: center; /* Centreert de inhoud horizontaal */
    align-items: center; /* Centreert de inhoud verticaal */
    width: 100vw;
    height: 3vw;
    text-align: center;
    background-color: #152036;
    padding: 1vh 0;
}
    
.icon {
    width: clamp(20px, 2vw, 40px); /* past de breedte aan binnen een bereik */
    height: clamp(20px, 2vw, 40px); /* past de hoogte aan binnen een bereik */
    margin: 0 0.5vw;
    position:relative;
}



h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    top: 1vh; /* Plaats h1 nabij de top van de viewport */
    font-size: 3vw; /* Dynamische tekstgrootte op basis van viewport-breedte */
}



.center-container {
    position: absolute;
    top: 50%; /* Centreren ten opzichte van de totale hoogte van de viewport */
    left: 50%;
    transform: translate(-50%, -50%); /* Centreren zowel horizontaal als verticaal */
    width: 33vw; /* Aanpasbare breedte gebaseerd op design voorkeur */
    min-height: 40vh; 
    text-align: center; /* Verzekert dat alle tekst gecentreerd is */
    display: flex;
    flex-direction: column; /* Stapelt de items verticaal */
    align-items: center; /* Zorgt dat alle items in het midden gecentreerd zijn */
}



h2 {
    font-size: 1.5vw;
    color: #152036;
    font-weight: bold;
}

h2 .subtitle {
    display: block;
    font-size: 1.2vw; /* Kleiner dan de hoofdtekst */
    color: #465267;
}

#themesForm {
    padding: 10px;
    margin-top: 2vh; /* Ruimte tussen h3 en de form */
    border: 2px solid #152036; /* Stevige, zichtbare grens */
    width: 90%;
    position: relative;
}

#themesForm::before, #themesForm::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

#themesForm::before {
    left: 0;
    width: 50%;
    background-color: #1520362e; /* Licht doorschijnend donkerblauw */
}

#themesForm::after {
    left: 50%;
    width: 50%;
}



.theme-row {
    display: flex;
    align-items: center;
    width: 100%; /* Zorgt dat de rij de volledige breedte van de form gebruikt */
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    color:   #2B305F;
    font-size: 1.2vw;
    background: linear-gradient(to right,#465267 50%, rgba(240, 240, 240, 0.4) 50%);
}


.theme-row label:first-child{
   color:#F7FFF6;
   
}

.theme-row label:first-of-type {
    flex-grow: 1; /* Laat het label de beschikbare ruimte opvullen */
    padding-right: 10px; /* Ruimte tussen label en checkboxes */
    text-align: left; /* Verzekert dat de labeltekst links uitgelijnd is */
}


.theme-row label {
    margin-right: 10px; /* Ruimte tussen checkboxes */
    white-space: nowrap; /* Voorkomt afbreken van tekst */
    position: relative;
    display: inline-block; /* Zorgt ervoor dat de label zich gedraagt als een inline element met block eigenschappen */
}


.disabled-checkbox + label:after {
    content: " \2716";
    color: #152036;
    margin-left: 5px;
    font-size: smaller;
}


button {
    font-family: 'DarkForest', sans-serif;
    font-size: 1.8vw;
    padding: 10px 20px; /* Normale padding */
    background-color: transparent; /* Geen achtergrondkleur bij standaard */
    color: #152036c0; /* Lichtere tekstkleur, die bij hover wit wordt */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 85%; /* Verticale centrering */
    left: 50%; /* Horizontale centrering */
    transform: translate(-50%, -50%); /* Zorgt voor nauwkeurige centrering */
    transition: background-size 0.5s ease-out, padding 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    background-size: 0% 100%; /* Begint zonder zichtbare achtergrond */
}

button:hover {
    color: white;
    background-image: linear-gradient(to right, #152036c0 0%, #304878 100%);
    background-size: 100% 100%; /* Volledige breedte gradient bij hover */
    padding: 17px 27px; /* Vergroot de padding bij hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Voeg schaduw toe bij hover */

}

.warning-message {
    position: absolute;
    bottom: 130px; /* Plaats de melding 20px boven de onderkant van de viewport */
    left: 50%; /* Centreert horizontaal */
    transform: translateX(-50%); /* Nauwkeurige horizontale centrering */
    width: 80%; /* Aanpasbaar op basis van designvereisten */
    max-width: 600px; /* Maximale breedte om leesbaarheid te garanderen */
    padding: 10px;
    background-color: #304878;
    color: white;
    text-align: center;
    border: 1px solid #152036;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1001; /* Zorg ervoor dat de melding boven andere elementen wordt weergegeven */
}


body.videoPlayer {
    font-family: 'DarkForest', sans-serif; /* Zet het standaard lettertype */
    display: flex;
    flex-direction: column; /* Elementen verticaal stapelen */
    align-items: center; /* Centreren over de horizontale as */
    justify-content: center; /* Centreren over de verticale as */
    height: 100%;
    background-image: url('./achtergrond_videoplayer_1.png'); /* Achtergrond instellen */
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}


